.heading-projects {
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: 20px;
}

.heading-projects h1 {
    color: white;
    font-size: 49px;
}

.heading-projects span {
    color: #f5b82a;
}

.container-pro {
    background-color: #0e1924;
    padding: 10px 0px 2rem 0px;
}

.sub-pro {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects {
    border: 2px solid;
    width: 24rem;
    margin: 5px 5px 5px 5px;
    border-radius: 4px;
    border: 2px solid #f5b82a;
}

.projects h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 4px;
    font-size: 43px;
}

.projects p {
    font-family: 'Bebas Neue', cursive;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 21px;
    margin-top: 20px;
    color: #ffffff7a;
}


.projects img {
    width: 23.8rem;
    height: 16rem;
    border-bottom: 2px solid #f5b82a;
}

.work-program {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-program p {
    font-size: 20px;
    margin-top: 10px;
    color: #f5b82a;
    margin-bottom: 5px;
    font-family: 'Bebas Neue', cursive;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 2px solid #f2f2f2;
    width: 86px;
    height: 36px;
    margin: 10px;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}